{{define "main"}}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <!-- Ich sehe du strukturierst hier, das ist gut! Du musst jetzt aber lernen wie du mit tags Struktur erzeugen kannst. -->
    <!-- Schau dir dazu mal die tags: main, section, aside und article an und versuch mal die folgenden Teile damit neu zu ordnen -->
    
    <!-- Willkommens Banner -->
    <div class="containerBanner">
        <div style=" flex-shrink: 0;">
            <p class="willkommen">
                <!-- "<br>" zu benutzen ist keine gute Idee. Versuch alle "<br>" immmer mit Css zu lösen -->
                Herzlich Willkommen <br>
                bei xapling
            </p>
        </div>
        <div>
            <!-- Sowas immer auslagern ins CSS. Stört den Lesefluss. -->
            <svg xmlns="http://www.w3.org/2000/svg" width="180" height="20" fill="none" style="margin-bottom: 10px;">
                <circle cx="90" cy="10" r="10" fill="white"/>
                <circle cx="130" cy="10" r="10" fill="white"/>
                <circle cx="170" cy="10" r="10" fill="white"/>
                <circle cx="50" cy="10" r="10" fill="white"/>
                <circle cx="10" cy="10" r="10" fill="#A2C554"/>
            </svg>
        </div>
    </div>
    <!-- xapling Vorstellung -->
    <div class="containerColumn1">
        <div class="containerTitle">
            <div class="containerInnerTitle1">
                {{ with .Site.GetPage "/Home_Title1.md" }} {{ .Content }} {{ end }}
            </div>
        </div>
        <div class="containerText">
            <div style="margin: 64px 30% 32px 110px;">
                {{ with .Site.GetPage "/Home_Text1.md" }} {{ .Content }} {{ end }}
            </div>
        </div>
    </div>
    <div class="containerColumn2">
        <div class="containerText">
            <div style="margin: 64px 110px 0px 30%;">
                {{ with .Site.GetPage "/Home_Text2.md" }} {{ .Content }} {{ end }}
            </div>
        </div>
        <div class="containerTitle" style="background: var(--xapling-blau-hell, #DFF0F2);">
            <div class="containerInnerTitle2">
                {{ with .Site.GetPage "/Home_Title2.md" }} {{ .Content }} {{ end }}
            </div>
        </div>
    </div>
    <!-- Zitat -->
    <div class="containerZitat">
        <div style="color: var(--xapling-gruen, #A2C554);font-size: 200px; font-weight: 700; line-height: 60px; margin-top: 100px;">
            “
        </div>
        <div style="font-size: 36px; font-weight: 700; line-height: 60px;">
            Man braucht kein Unternehmen mit 100 Mitarbeitern <br>
            um eine Idee zu verwirklichen.
        </div>
        <div style="font-size: 12px; font-style: italic; font-weight: 400; line-height: 60px;">
            Larry Page, Mitbegründer von Google
        </div>
    </div>
</body>
</html>
{{end}}
