{{define "main"}}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<main>
    <!-- Willkommens Banner -->
    <section class="containerBanner">
        <h1 class="willkommen">
            bei xapling
        </h1>
        <h1 class="willkommen">
            Herzlich Willkommen
        </h1>
        <div>
            <!-- Sowas immer auslagern ins CSS. Stört den Lesefluss. -->
            <svg class="circleSVG" xmlns="http://www.w3.org/2000/svg" width="180" height="20">
                <circle class="circle1"/>
                <circle class="circle2"/>
                <circle class="circle3"/>
                <circle class="circle4"/>
                <circle class="circle5"/>
            </svg>
        </div>
    </section>
    <!-- xapling Vorstellung -->
    <section class="containerColumn1">
        <div class="containerTitle1">
            <h2 class="containerInnerTitle1">
                {{ with .Site.GetPage "/Home_Title1.md" }} {{ .Content }} {{ end }}
            </h2>
        </div>
        <div class="containerText">
            <article class="containerInnerText1">
                {{ with .Site.GetPage "/Home_Text1.md" }} {{ .Content }} {{ end }}
            </article>
        </div>
    </section>
    <section class="containerColumn2">
        <div class="containerText">
            <article class="containerInnerText2">
                {{ with .Site.GetPage "/Home_Text2.md" }} {{ .Content }} {{ end }}
            </article>
        </div>
        <div class="containerTitle2">
            <h2 class="containerInnerTitle2">
                {{ with .Site.GetPage "/Home_Title2.md" }} {{ .Content }} {{ end }}
            </h2>
        </div>
    </section>
    <!-- Zitat -->
    <section class="zitatSection">
        <div class="containerMark">
            “
        </div>
        <blockquote class="containerZitat">
            Man braucht kein Unternehmen mit 100 Mitarbeitern
        </blockquote>
        <blockquote class="containerZitat">
            um eine Idee zu verwirklichen.
        </blockquote>
        <cite class="containerQuelle">
            Larry Page, Mitbegründer von Google
        </cite>
    </section>
</main>
</html>
{{end}}
