<footer style="margin: 0px;">
    <ul class="listFooter">
        <li style="margin: 20px 60px 20px 0px;">
            Impressum
        </li>
        <li style="margin: 20px 0px 20px 0px; align-self: flex-start;">
            Datenschutz
        </li>
        <li style="position: relative; top: 20px; color: #606060;font-size: 12px;font-weight: 400;line-height: 24px; width: 100%; text-align: right;">
            Copyright by xapling. Alle Rechte vorbehalten.
        </li>
    </ul>
    <div style="height: 10px; width: 50%; background-color: #A2C554; float: left;"></div>
    <div style="height: 10px; width: 50%; background-color: #66B6C1; float: right;"></div>
</footer>
</html>
