<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body style="margin: 0px;">
    <div style="height: 10px; width: 50%; background-color: #A2C554; float: left;"></div>
    <div style="height: 10px; width: 50%; background-color: #66B6C1; float: right;"></div>
    <button style="background: rgba(0, 0, 0, 0.0); border: none; postion: fixed; margin: 15px; width; 70px; height: 70px">
        <a href="http://localhost:1313/" style="width: 70px; height: 70px;">
            <svg height="70px" width="70">
                <image xlink:href="xapling-logo.svg" src="xapling-logo.png" height="70px" width="70px"/>
            </svg>
        </a>
    </button>
    <div class="containerNav">
        <div class="itemNav"><p style="color: #66B6C1;">xapling</p></div>
        <div class="itemNav"><p>portfolio</p></div>
        <div class="itemNav"><p>team</p></div>
        <div class="itemNav"><p>social</p></div>
        <div class="itemNav" style="padding-right: 50px;"><p>kontakt</p></div>
    </div>
</body>
</html>