<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body style="margin: 0px;">
    <div class="grünerBalken"></div>
    <div class="blauerBalken"></div>
    <button class="buttonLogo">
        <a href="http://localhost:1313/" class="buttonLogoLink">
            <img src="xapling-logo.svg" alt="xapling-logo" width="70px" height="70px">
        </a>
    </button>
    <nav>
        {{ range (where .Site.RegularPages "Section" "Test") }}
        <a class="itemNav" href="{{.Permalink}}">{{.Title}}</a>
        {{end}}
        <ul class="containerNav">
            <li class="itemNav"><p style="color: #66B6C1;">xapling</p></li>
            <li class="itemNav"><p>portfolio</p></li>
            <li class="itemNav"><p>team</p></li>
            <li class="itemNav"><p>social</p></li>
            <li class="itemNav"><p>kontakt</p></li>
        </ul>
    </nav>
</body>
</html>
