body {
    font-family: "Nunito_Sans", sans-serif;
}

/*Header Navigation*/
.containerNav {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: flex-end;
    margin-top: -83px;
    margin-bottom: 30px;
}
.itemNav {
    color: #A2C554;
    font-family: "Nunito_Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Willkommens Banner*/
.containerBanner {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    background-image: url("/Hintergrund1.png");
    height: 600px;
}
.willkommen {
    position: absolute;
    text-align: center;
    top: 390px;;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    font-weight: 900;
    line-height: 80px;
    color: white;
    margin: 0;
}

/*xapling Vorstellung*/
.containerColumn1 {
    display: flex;
    height: 392px;
}

.containerColumn2 {
    display: flex;
    height: 392px;
}
.containerTitle {
    background: var(--xapling-gruen-hell, #ECF3DB);
    color: var(--xapling-gruen, #A2C554);
    font-size: 60px;
    font-weight: 900;
    line-height: 12px;
    flex: 50%;
}
.containerInnerTitle1 {
        text-align: center;
        float: right;
        transform: translate(-15%, 20%);
}
.containerInnerTitle2 {
    color: var(--xapling-blau, #66B6C1);
    margin: 32px 0px 32px 0px;
    text-align: center;
    transform: translate(-15%, 100%);
    margin-left: calc(50% - 500px);
}
.containerText {
    text-align: left;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    flex: 50%;
}

/*Google Zitat*/
.containerZitat {
    display: flex;
    height: 400px;
    background: #F7F7F7;
    flex-direction: column;
    text-align: center;
}

/*Footer*/
.containerFooter {
    display: flex;
    color: #606060;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    height: 76px;
    border-top: solid;
    border-color: #606060;
    border-width: 1px;
    margin: 0px 60px 0px 60px;
}

/*Anpassungen für eine kleinere Browser Größe <1000px*/
@media screen and (max-width: 1000px){
     .containerColumn1 {
         flex-direction: column;
     }
     .containerColumn2 {
         flex-direction: column-reverse;
     }
     .containerInnerTitle1{
        transform: none;
        margin-right: calc(50% - 220px);
     }
     .containerInnerTitle2 {
        transform: none;
        margin-right: calc(50% - 500px);
     }
 }